{% extends "base.html" %}
{% load static %}

{% block title %}Aprovar Agendas{% endblock title %}


{% block conteudo %}
<div class="container mx-auto px-4 py-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Aprovar Agendas</h1>
    <table class="table-auto w-full bg-white shadow-lg rounded-lg overflow-hidden">
        <thead>
            <tr class="bg-red-500 text-white">
                <th class="px-4 py-2">Título</th>
                <th class="px-4 py-2">Descrição</th>
                <th class="px-4 py-2">Data</th>
                <th class="px-4 py-2">Horário</th>
                <th class="px-4 py-2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agenda in agendas %}
            <tr class="border-b hover:bg-gray-100">
                <td class="px-4 py-2 text-gray-700">{{ agenda.titulo }}</td>
                <td class="px-4 py-2 text-gray-700">{{ agenda.descricao }}</td>
                <td class="px-4 py-2 text-gray-700">{{ agenda.data }}</td>
                <td class="px-4 py-2 text-gray-700">{{ agenda.horario }}</td>
                <td class="px-4 py-2">
                    <a href="{% url 'aprovar_agenda' agenda.id %}" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition">Aprovar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock conteudo %}
